#userprofile {
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: left;
}

    #userprofile h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
    }

    #userprofile p {
        font-size: 16px;
        color: #555;
        margin: 8px 0;
    }

    #userprofile button {
        bottom: 20px;
        right: 30px;
        border: none;
        outline: none;
        background-color: orange;
        color: white;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
    }

        #userprofile button:hover {
            background-color: #555;
            
        }

#userTickets {
    margin-top: 20px;
}

.ticket {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

    .ticket h3 {
        margin-top: 0;
        color: #0078d4;
        font-size: 18px;
    }

    .ticket p {
        margin: 5px 0;
        font-size: 14px;
        color: #444;
    }
