.headingBorder {
    border: 3px solid blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 180%;
    color: red;
    background-color: rgb(239, 255, 223, 0.9);
}

.paraborder {
    border: 3px solid red;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    color: white;
    background-color: rgba(36, 10, 234, 0.9);
}

.formback {
    background-image: url('formpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.signupformback {
    background-image: url('formpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.signinformback {
    background-image: url('formpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



form{
    color:white;
}