.signupformback {
    text-align: center;
    color:white;
}
#submit {
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    padding: 15px;
    
    border-radius: 10px;
    font-size: 18px;
}
#login {
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    margin-left:450px;
}
#submit:hover {
    background-color: #555;
}
#login:hover {
    background-color: #555;
}
